// List styles
.notra-editor {
	ul,
	ol {
		@apply pl-6 mb-3;
	}

	ul {
		@apply list-disc;
	}

	ol {
		@apply list-decimal;
	}

	li {
		@apply mb-1;
	}

	// Nested lists
	ul ul,
	ol ul {
		@apply list-disc;
	}

	ul ol,
	ol ol {
		@apply list-decimal;
	}
}
