.notra-editor .tiptap {
	white-space: pre-wrap;
	outline: none;
	color: var(--notra-text);
	caret-color: var(--notra-brand-500);

	.dark &,
	&.dark {
		caret-color: var(--notra-brand-400);
	}

	@media (prefers-color-scheme: dark) {
		&:not(.light) {
			caret-color: var(--notra-brand-400);
		}
	}

	& > * {
		position: relative;
	}

	&:not(.ProseMirror-hideselection) {
		::selection {
			background-color: var(--notra-selection);
		}

		.selection::selection {
			background: transparent;
		}
	}

	.selection {
		display: inline;
		background-color: var(--notra-selection);
	}

	.ProseMirror-selectednode:not(img, pre, .react-renderer) {
		border-radius: 0.375rem;
		background-color: var(--notra-selection);
	}

	.ProseMirror-hideselection {
		caret-color: transparent;
	}
}
