.notra-editor {
	code {
		background-color: var(--notra-code-bg);
		color: var(--notra-code-text);
		border: 1px solid var(--notra-code-border);
		font-family:
			ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
		font-size: 0.875em;
		line-height: 1.4;
		border-radius: 0.375rem;
		padding: 0.1em 0.2em;
	}

	pre {
		background-color: var(--notra-codeblock-bg);
		color: var(--notra-codeblock-text);
		border: 1px solid var(--notra-codeblock-border);
		margin-top: 1.5em;
		margin-bottom: 1.5em;
		padding: 1em;
		font-size: 1rem;
		border-radius: 0.375rem;
		overflow-x: auto;

		code {
			background-color: transparent;
			border: none;
			border-radius: 0;
			color: inherit;
			padding: 0;
		}
	}
}
