.drag-handle {
	transition-property: top;
	transition-duration: 200ms;
	transition-timing-function: ease-out;

	&::before {
		content: '';
		position: absolute;
		left: 100%;
		top: 0;
		width: 16px;
		height: 100%;
		pointer-events: auto;
	}
}

.prosemirror-dropcursor-block,
.prosemirror-dropcursor-inline {
	background: var(--notra-brand-400) !important;
	border-radius: 0.25rem;
	margin-left: -1px;
	margin-right: -1px;
	width: 100%;
	height: 0.188rem;
	cursor: grabbing;
}

.notra-drag-handle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1.25rem;
	height: 1.5rem;
	border-radius: 0.25rem;
	border: none;
	background: transparent;
	color: var(--notra-gray-a-400);
	cursor: grab;
	padding: 0;
	transition:
		background-color 150ms,
		color 150ms;
}

.notra-drag-handle:hover {
	background-color: var(--notra-gray-a-100);
	color: var(--notra-gray-a-600);
}

.notra-drag-handle:active {
	cursor: grabbing;
}
