/* Vertical rhythm values from Tailwind Typography */
.notra-editor {
	h1,
	h2,
	h3,
	h4 {
		position: relative;
		color: inherit;
		font-style: inherit;

		&:first-child {
			margin-top: 0;
		}
	}

	h1 {
		margin-top: 0;
		margin-bottom: 0.888889em;
		font-size: 2.25em;
		font-weight: 700;
		line-height: 1.11111;
	}

	h2 {
		margin-top: 2em;
		margin-bottom: 1em;
		font-size: 1.5em;
		font-weight: 700;
		line-height: 1.33333;
	}

	h3 {
		margin-top: 1.6em;
		margin-bottom: 0.6em;
		font-size: 1.25em;
		font-weight: 600;
		line-height: 1.6;
	}

	h4 {
		margin-top: 1.5em;
		margin-bottom: 0.5em;
		font-weight: 600;
		line-height: 1.5;
	}
}
